{% extends "portfolio/base.html" %} {% load static %}
<!--  -->
{% block title %} Yassine | Hire {% endblock %}
<!--  -->
{% block content %}
<main id="hire">
    <div class="header__icon">
        <a href="javascript:void(0);" class="icon-a">
            <i class="header__nav__icon bi bi-list"></i>
        </a>
    </div>

    <div class="header__night-mode">
        <a href="javascript:void(0);" class="night-toggle">
            <i class="bi bi-moon"></i>
        </a>
    </div>

    <section id="services-section">
        <div class="cover">
            <!-- <h1 class="services-h1">My Services</h1> -->
            <p class="section_title">Services</p>
        </div>
        <div class="line-div">
            <span class="line"></span>
            <span class="line-text">Services Provided</span>
        </div>

        <div class="services">
            <div class="service-card">
                <img
                    src="{% static 'portfolio/images/buss-auto-icon.svg' %}"
                    alt=""
                    class="service-image"
                />
                <h3 class="service-title">Web Development</h3>
                <p class="service-description">
                    Bring your ideas to life with a modern, high-performance custom web application.
                    I specialize in building responsive, user-friendly websites tailored to your
                    business needs, ensuring seamless functionality across all devices.
                </p>
                <button class="service-button web-dev-btn">Learn More</button>
            </div>

            <div class="service-card">
                <img
                    src="{% static 'portfolio/images/scraping-icon.svg' %}"
                    alt=""
                    class="service-image"
                />
                <h3 class="service-title">Web Scraping</h3>
                <p class="service-description">
                    Unlock valuable insights, save time with web scraping. I can help
                    businesses collect, process, and analyze data from websites.
                </p>
                <button class="service-button scraping-btn">Learn More</button>
            </div>

            <div class="service-card service-card-3">
                <img
                    src="{% static 'portfolio/images/api-icon.svg' %}"
                    alt=""
                    class="service-image"
                />
                <h3 class="service-title">Rest API Development</h3>
                <p class="service-description">
                    I create powerful, scalable REST APIs that allow seamless data access and
                    interaction. My APIs are designed for reliability, security, and high
                    performance.
                </p>
                <button class="service-button api-btn">Learn More</button>
            </div>

            <div class="service-card ">
                <img
                    src="{% static 'portfolio/images/api-icon.svg' %}"
                    alt=""
                    class="service-image"
                />
                <h3 class="service-title">AI no/low code Automation</h3>
                <p class="service-description">
                    I create powerful, scalable AI-driven automation solutions that streamline
                    processes and enhance productivity. My expertise includes integrating no-code
                    and low-code platforms like Make.com, n8n, and Zapier to deliver efficient workflows tailored to your
                    business needs.
                </p>
                <button class="service-button no-code-btn">Learn More</button>
            </div>

            <!-- #TODO: Add no code, low code automation services (make.com, n8n, zapier) -->
        </div>
        <div id="modals">
            <div id="modal-web-dev" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h2 class="modal-title">Web Development</h2>
                    <p class="modal-description">
                        Building a website involves more than just design; it requires a strong
                        foundation to ensure it performs well, scales smoothly, and provides users
                        with an excellent experience.
                        <br />
                        <br />
                        My Web Development service covers both the frontend and backend, ensuring
                        your website is not only visually appealing but also highly functional,
                        secure, and fast. I create responsive websites that look great on any device
                        and develop powerful backend systems to handle complex features and data
                        securely.
                        <br />
                        <br />

                        For simple websites I use wordpress but to build custom complex websites
                        with dynamic and engaging user interfaces. Depending on the project
                        requirements I use a variety of technologies to deliver these results. On
                        the frontend, I work with:
                    </p>
                    <ul class="modal-description modal-description-ul">
                        <li class="modal-description-li">HTML</li>
                        <li class="modal-description-li">CSS along side Bootstrap and Tailwind</li>
                        <li class="modal-description-li">JavaScript</li>
                        <li class="modal-description-li">React</li>
                    </ul>
                    <p class="modal-description">
                        For the backend, to develop server-side logic, manage databases, and
                        integrate APIs that connect with various third-party services, depending on
                        the project requirements I rely on:
                    </p>
                    <ul class="modal-description modal-description-ul">
                        <li class="modal-description-li">Django</li>
                        <li class="modal-description-li">Flask</li>
                        <li class="modal-description-li">FastAPI</li>
                        <li class="modal-description-li">Node.js</li>
                        <li class="modal-description-li">
                            Databases: PostgreSQL, MySQL and MongoDB
                        </li>
                    </ul>

                    <p class="modal-description">
                        My process includes initial planning, design, development, and rigorous
                        testing to ensure the website functions as expected across different devices
                        and browsers.
                    </p>
                    <p class="modal-description" style="background-color: bisque">
                        After launch, I provide maintenance services to handle updates, backups, and
                        security monitoring, so your site stays secure and up-to-date. With my Web
                        Development service, you’ll have a site that not only looks great but also
                        meets the technical demands of a modern, professional website.
                    </p>
                    <a class="modal-cta">Book a call</a>
                </div>
            </div>

            <div id="modal-web-scraping" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h2 class="modal-title">Web Scraping</h2>
                    <p class="modal-description">
                        Data is a crucial asset in today’s competitive market, and my Web Scraping
                        service helps you gather and store the information you need efficiently and
                        reliably. I provide custom scraping solutions that can automate data
                        collection and keep your information up-to-date.
                    </p>
                    <p class="modal-description">
                        My web scraping tools are tailored to your specific needs, gathering data
                        from a variety of sources without overloading your infrastructure or
                        violating website terms of service.
                    </p>
                    <p class="modal-description">
                        Depending on the project requirements for web scraping projects, I primarily
                        use:
                    </p>
                    <ul class="modal-description modal-description-ul">
                        <li class="modal-description-li">Python or JavaScript</li>
                        <li class="modal-description-li">BeautifulSoup</li>
                        <li class="modal-description-li">Selenium</li>
                        <li class="modal-description-li">Playwright</li>
                    </ul>
                    <p class="modal-description">
                        To extract data from even the most challenging sites. Each scraper is
                        designed with optimization and compliance in mind, reducing the chances of
                        IP blocking and ensuring ethical scraping practices. I also build in
                        data-cleaning and transformation processes, making the data ready for
                        immediate analysis or integration into your systems.
                    </p>
                    <p class="modal-description">
                        My service doesn’t just stop at delivering raw data. I offer integration
                        options to connect the data directly to your databases or applications, and
                        I can even set up automated scraping schedules if you need regular updates.
                    </p>
                    <p class="modal-description" style="background-color: bisque">
                        I provide maintenance services, including monitoring and adapting to changes
                        on target websites. By choosing my Web Scraping service, you gain access to
                        high-quality, real-time data without the hassle of manually collecting and
                        processing it.
                    </p>
                    <a class="modal-cta">Book a call</a>
                </div>
            </div>

            <div id="modal-rest-api" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h2 class="modal-title">Rest API Development</h2>
                    <p class="modal-description">
                        APIs are essential for connecting systems and creating dynamic, data-driven
                        applications. With my REST API Development service, I design and implement
                        APIs that allow seamless communication between your software applications
                        and third-party services.
                    </p>
                    <p class="modal-description">
                        These APIs are crafted to be efficient, secure, and scalable, so they can
                        handle increasing data loads as your business grows. For building solutions
                        that facilitate smooth, reliable interactions. I use:
                    </p>

                    <ul class="modal-description modal-description-ul">
                        <li class="modal-description-li">FastAPI</li>
                        <li class="modal-description-li">expres.js</li>
                        <li class="modal-description-li">Django REST Framework</li>
                    </ul>

                    <p class="modal-description">
                        I build RESTful APIs, focusing on both speed and flexibility. With these
                        technologies, I ensure that APIs are well-documented, easy to use, and
                        include features like rate limiting, authentication, and data validation.
                        For authentication, I implement solutions such as OAuth, JWT tokens, and API
                        keys to protect your data and manage user access securely. My API
                        development process includes initial design and planning, followed by
                        development and rigorous testing to ensure all endpoints function correctly
                        and handle edge cases.
                    </p>
                    <p class="modal-description">
                        Databases used with these APIs typically include SQLite, PostgreSQL, MySQL
                        and MongoDB, depending on data structure and scalability needs.
                    </p>
                    <p class="modal-description" style="background-color: bisque">
                        Once deployed, I offer support maintenance plans that cover updates,
                        scaling, and troubleshooting. By choosing my REST API Development service,
                        you’ll have a robust API that meets your business needs, allowing you to
                        connect and automate various parts of your technology stack efficiently.
                    </p>
                    <a class="modal-cta">Book a call</a>
                </div>
            </div>

            <div id="modal-no-code" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h2 class="modal-title">No/low-Code Development</h2>
                    <p class="modal-description">
                        AI-driven automation solutions that streamline processes and enhance
                        productivity. My expertise includes integrating no-code and low-code
                        platforms like Make.com, n8n, and Zapier to deliver efficient workflows
                        tailored to your business needs.
                    </p>
                    <p class="modal-description">
                        I specialize in creating custom automation solutions that connect various
                        applications and services, allowing you to automate repetitive tasks, data
                        transfers, and complex workflows without the need for extensive coding.
                        These solutions are designed to be user-friendly, enabling you to manage and
                        modify them easily as your business needs change.
                    </p>

                    <ul class="modal-description modal-description-ul">
                        <li class="modal-description-li">make.com</li>
                        <li class="modal-description-li">n8n</li>
                        <li class="modal-description-li">Zapier</li>
                    </ul>

                    <p class="modal-description">
                        I leverage these platforms to build powerful automations that can handle
                        everything from simple tasks like data entry and email notifications to
                        complex workflows that involve multiple applications and data sources.
                        These automations can significantly reduce manual effort, minimize errors,
                        and improve overall efficiency in your operations.
                    </p>
                    <p class="modal-description">
                        My process begins with understanding your specific needs and identifying
                        areas where automation can provide the most value. I then design and build
                        the automation workflows, ensuring they are robust, scalable, and easy to
                        maintain. I also provide documentation and training to help you get the most
                        out of your new automation solutions.
                    </p>
                    <p class="modal-description" style="background-color: bisque">
                        Once deployed, I offer support maintenance plans that cover updates,
                        scaling, and troubleshooting. By choosing my Automation Development service,
                        you’ll have a robust automation solution that meets your business needs, allowing you to
                        integrate and automate various parts of your technology stack efficiently.
                    </p>
                    <a class="modal-cta">Book a call</a>
                </div>
            </div>
        </div>
    </section>

    <section class="how-it-works">
        <h2>How This Works</h2>
        <div class="hire-timeline">
            <div class="hire-timeline-item">
                <h3>
                    Step 1:
                    <a href="/#contact-me">Step 1: Book a Free Discovery Call</a>
                </h3>
                <p>Share your goals and ideas — we'll explore what service is the right fit.</p>
            </div>
            <div class="hire-timeline-item">
                <h3>Step 2: Strategy Review</h3>
                <p>I’ll review your needs and send over initial thoughts, recommendations, or questions within 24–48 hours.</p>
            </div>
            <div class="hire-timeline-item">
                <h3>Step 3: Deep Dive Session</h3>
                <p>We’ll meet again to map out your ideal workflow, tools, and expected results. No tech jargon — just clarity.</p>
            </div>
            <div class="hire-timeline-item">
                <h3>Step 4: Proposal & Agreement</h3>
                <p>You’ll receive a tailored proposal with scope, timeline, pricing, and contract terms for review.</p>
            </div>
            <div class="hire-timeline-item">
                <h3>Step 5: Project Kickoff</h3>
                <p>Once everything’s approved, I’ll start building. You’ll get regular updates, demos, and clear communication throughout.</p>
            </div>
        </div>
    </section>

    <!-- <div class="hire-cta-banner-image">
        <div class="hire-cta-overlay">
            <h2 class="hire-cta-title">Let’s Work Together</h2>
            <p class="hire-cta-text">Bring your vision to life with a skilled developer on your team.</p>
            <p class="hire-cta-text">I’m here to help with your development needs.</p>
            <p class="hire-cta-text">To bring your ideas to life. Contact me today!</p>
            <a href="/#contact-me" class="hire-cta-button">Start Now Free!</a>
        </div>
    </div> -->

    <!-- Cal inline embed code begins -->
    <div style="width:100%;height:100%;overflow:scroll;padding: 15px;" id="my-cal-inline"></div>
    <script type="text/javascript">
        (function (C, A, L) { let p = function (a, ar) { a.q.push(ar); }; let d = C.document; C.Cal = C.Cal || function () { let cal = C.Cal; let ar = arguments; if (!cal.loaded) { cal.ns = {}; cal.q = cal.q || []; d.head.appendChild(d.createElement("script")).src = A; cal.loaded = true; } if (ar[0] === L) { const api = function () { p(api, arguments); }; const namespace = ar[1]; api.q = api.q || []; if(typeof namespace === "string"){cal.ns[namespace] = cal.ns[namespace] || api;p(cal.ns[namespace], ar);p(cal, ["initNamespace", namespace]);} else p(cal, ar); return;} p(cal, ar); }; })(window, "https://app.cal.com/embed/embed.js", "init");
        Cal("init", "30min", {origin:"https://app.cal.com"});

        Cal.ns["30min"]("inline", {
            elementOrSelector:"#my-cal-inline",
            config: {"layout":"month_view","theme":"light"},
            calLink: "yassinecodes/30min",
        });

        Cal.ns["30min"]("ui", {"theme":"light","cssVarsPerTheme":{"light":{"cal-brand":"#000000"},"dark":{"cal-brand":"#fff"}},"hideEventTypeDetails":false,"layout":"month_view"});
    </script>
    <!-- Cal inline embed code ends -->
</main>
{% endblock %}

<!-- hire script -->
{% block hire_script %}
<script type="module" defer src="{% static 'portfolio/javascript/pages/hire.js' %}"></script>
<script type="module" defer src="{% static 'portfolio/javascript/script.js' %}"></script>
{% endblock %}
