{% extends "portfolio/base.html" %} {% load static %} {% block content %}
<section id="hero">
    <div class="header__icon">
        <a href="javascript:void(0);" class="icon-a">
            <i class="header__nav__icon bi bi-list"></i>
        </a>
    </div>

    <div class="hero__main">
        <h1 class="hero__my-name">Yassine Issoufou</h1>
        <p class="hero__job-title">
            I'm a&nbsp;
            <span class="hero-job__titles"></span>
        </p>

        <ul class="hero__social-links">
            <li class="social__li">
                <a href="https://github.com/fulanii" class="social__a" target="_blank">
                    <i class="social__i bi bi-github"></i>
                </a>
            </li>
            <li class="social__li">
                <a href="https://x.com/yassine_dev" class="social__a" target="_blank"><i class="social__i bi bi-twitter-x"></i></a>
            </li>
            <li class="social__li">
                <a href="https://www.linkedin.com/in/yassine-issoufou/" class="social__a" target="_blank"><i class="social__i bi bi-linkedin"></i></a>
            </li>
            <li class="social__li">
                <a href="mailto:yassine@yassineissoufou.com" class="social__a"><i class="social__i bi bi-envelope-at"></i></a>
            </li>
        </ul>
    </div>
</section>

<section id="about-me">
    <h1 class="about-me__h1">About Me</h1>

    <div class="about-me__card">
        <img
            class="about-me__img"
            src="{% static 'portfolio/images/my_image2.avif' %}"
            alt="yassine-picture"
        />
        
        <p class="about-me__description">
            Hello! 
            <span class="about-me__span">I'm Yassine</span> from the United States.
            I'm a self-taught Software Engineer with a strong interest in various tech fields, primarily focused on 
            <span class="about-me__span">Web Development</span> (especially backend development), along with an interest in 
            <span class="about-me__span">Data</span> and <span class="about-me__span">Quality Assurance</span>.
            I started programming back in high school, and during the early days of the COVID-19 pandemic, I took the opportunity to enroll in various online courses to prepare myself for a degree in 
            <span class="about-me__span">Computer Science</span>. After high school, I attended a community college for general education while diving deeper into self-taught learning.
            <br>
            - Fast forward to today, I’ve developed a versatile set of skills, making me well-suited for various roles in the tech industry.
        </p>
        
    </div>
</section>

<section id="skills">
    <h1 class="skills-h1">Skills</h1>
    <div class="skills-grid">
        <div
            class="skill-card"
            data-aos="flip-left"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="2000"
        >
            <h2>Programming Languages</h2>
            <ul>
                <li>
                    <img src="{% static 'portfolio/images/Python.svg' %}" alt="Python.svg" />
                    Python
                </li>
                <li>
                    <img
                        src="{% static 'portfolio/images/javascript.svg' %}"
                        alt="javascript.svg"
                    />
                    Javascript
                </li>
            </ul>
        </div>
        <div
            class="skill-card"
            data-aos="flip-left"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="2000"
        >
            <h2>Web Technologies</h2>
            <ul>
                <li>
                    <img
                        src="{% static 'portfolio/images/html.svg' %}"
                        alt="html.svg"
                        style="margin-right: 5px"
                    />
                    HTML
                    <img
                        src="{% static 'portfolio/images/css.svg' %}"
                        alt="css.svg"
                        style="margin: 0 5px 0 10px"
                    />
                    CSS
                </li>
                <li>
                    <img src="{% static 'portfolio/images/sass_svg.svg' %}" alt="sass.svg" />
                    Scss
                </li>
                <li>
                    <img src="{% static 'portfolio/images/django.svg' %}" alt="django.svg" />
                    Django
                </li>
                <li>
                    <img src="{% static 'portfolio/images/flask.svg' %}" alt="flask.svg" />
                    Flask
                </li>
                <li>
                    <img src="{% static 'portfolio/images/fastapi.svg' %}" alt="fastapi.svg" />
                    FastAPI
                </li>
                <li>
                    <img src="{% static 'portfolio/images/bootstrap.svg' %}" alt="bootstrap.svg" />
                    Bootstrap
                </li>
                <li>
                    <img src="{% static 'portfolio/images/nginx.svg' %}" alt="nginx.svg" />
                    Nginx
                </li>
            </ul>
        </div>
        <div
            class="skill-card"
            data-aos="flip-left"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="2000"
        >
            <h2>Databases</h2>
            <ul>
                <li>
                    <img src="{% static 'portfolio/images/mysql.svg' %}" alt="" />
                    mySQL
                </li>
                <li>
                    <img src="{% static 'portfolio/images/postgresql.svg' %}" alt="" />
                    PostgreSQL
                </li>
                <li>
                    <img src="{% static 'portfolio/images/sqlite.svg' %}" alt="" />
                    SQLite
                </li>
                <li>
                    <img src="{% static 'portfolio/images/mongodb.svg' %}" alt="" />
                    MongoDB
                </li>
            </ul>
        </div>
        <div
            class="skill-card"
            data-aos="flip-left"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="2000"
        >
            <h2>Others & Tools</h2>
            <ul>
                <!-- <li>
                    <img
                        src="{% static 'portfolio/images/git.svg' %}"
                        alt="git.svg"
                        style="margin-right: 5px"
                    />
                    Git
                    <img
                        src="{% static 'portfolio/images/github.svg' %}"
                        alt="github.svg"
                        style="margin: 0 5px 0 10px"
                    />
                    Github
                </li> -->
                <!-- <li>
                    <img src="{% static 'portfolio/images/postman.svg' %}" alt="postman.svg" />
                    Postman
                </li> -->
                <li>
                    <img src="{% static 'portfolio/images/github_actions.svg' %}" alt="github actions svg">
                    Github Actions
                </li>
                <li>
                    <img src="{% static 'portfolio/images/nodejs.svg' %}" alt="nodejs.svg" />
                    NodeJs
                </li>
                <li>
                    <img src="{% static 'portfolio/images/selenium.svg' %}" alt="selenium.svg" />
                    Selenium Web Driver
                </li>
                <li>
                    <i class="bi bi-code-slash" style="margin: 5px 10px 0 2px"></i>
                    Beautiful Soup 4
                </li>
            </ul>
        </div>
    </div>
</section>

<section id="projects">
    <h1 class="projects-h1">Projects</h1>
    <div class="timeline">
        <div class="timeline-item" data-aos="fade-up">
            <figure class="timeline-img">
                <img
                    src="{% static 'portfolio/images/flaskproject.gif' %}"
                    alt="Flask web app with user auth"
                />
                <figcaption>Project demonstration.</figcaption>
            </figure>
            <div class="timeline-content">
                <h2 class="timeline-content-h2">Flask web app with user auth</h2>
                <p class="timeline-content-p">
                    A secured flask web app where users can register an account, store the user info
                    in a SQLite database with password hashing, login, create posts, see other
                    people's posts, and be able to logout.
                </p>
                <a
                    href="https://github.com/fulanii/flask-auth-project"
                    class="project-link"
                    target="_blank"
                >
                    View Project
                </a>
            </div>
        </div>

        <div class="timeline-item" data-aos="fade-up">
            <figure class="timeline-img">
                <img
                    src="{% static 'portfolio/images/fastapiproject.gif' %}"
                    alt="Rest API using FastAPI"
                />
                <figcaption>Project demonstration.</figcaption>
            </figure>
            <div class="timeline-content">
                <h2 class="timeline-content-h2">Rest API using Fask & FastAPI</h2>
                <p class="timeline-content-p">
                    To build this project I first scraped and cleaned country data online. Then
                    stored the data in a PostgreSQL database, with this api you can access countries
                    info like: name, capital, population, area size, country code and country iso
                    code. FastAPI version
                    <a
                        target="_blank"
                        href="https://github.com/fulanii/fastapi-project"
                        style="color: var(--btn-color)"
                    >
                        here.
                    </a>
                </p>
                <a
                    href="https://github.com/fulanii/rest-api-project"
                    class="project-link"
                    target="_blank"
                >
                    View Project
                </a>
            </div>
        </div>
    </div>
</section>

{% endblock %}