{% extends "portfolio/base.html" %} {% load static %} {% block content %}
<section id="hero">
    <div class="header__icon">
        <a href="javascript:void(0);" class="icon-a">
            <i class="header__nav__icon bi bi-list"></i>
        </a>
    </div>
    <div class="header__night-mode">
        <a href="javascript:void(0);" class="night-toggle">
            <i class="bi bi-moon"></i>
        </a>
    </div>

    <div class="hero__main">
        <h1 class="hero__my-name">Hello I'm Yassine</h1>
        <p class="hero__job-title">
            A &nbsp;
            <span class="hero-job__titles"></span>
        </p>

        <ul class="hero__social-links">
            <li class="social__li">
                <a href="https://github.com/fulanii" class="social__a" target="_blank">
                    <i class="social__i bi bi-github"></i>
                </a>
            </li>
            <li class="social__li">
                <a href="https://x.com/yassinecodes" class="social__a" target="_blank">
                    <i class="social__i bi bi-twitter-x"></i>
                </a>
            </li>
            <li class="social__li">
                <a
                    href="https://www.linkedin.com/in/yassinecodes/"
                    class="social__a"
                    target="_blank"
                >
                    <i class="social__i bi bi-linkedin"></i>
                </a>
            </li>
            <li class="social__li">
                <a href="mailto:yassine@yassinecodes.dev" class="social__a">
                    <i class="social__i bi bi-envelope-at"></i>
                </a>
            </li>
        </ul>
        <!-- data-aos="fade-up" -->
        <div class="scroll-btn">
            <i class="bi bi-arrow-down"></i>
            Scroll
        </div>
    </div>
</section>

<section id="about-me">
    <h1 class="about-me__h1">About Me</h1>

    <div class="about-me__card">
        <img
            loading="lazy"
            class="about-me__img"
            src="{% static 'portfolio/images/yassine.jpg' %}"
            alt="yassine-picture"
        />
        <p class="about-me__description">
            I build everything from
            <span class="about-me__span">Full Stack web apps</span>
            to custom
            <span class="about-me__span">web scrapers</span>
            and
            <span class="about-me__span">automation tools</span>
            . I'm also the co-founder of
            <a href="https://flowtheoryai.com" target="_blank" rel="noopener noreferrer">
                FlowtheoryAI
            </a>
            , an AI automation agency, and
            <a href="https://ctrlf2.com" target="_blank" rel="noopener noreferrer">CtrlF2</a>
            , a software development company where I’ve led developers, managed infrastructure, and
            delivered scalable solutions. Alongside my startup work, I freelance for clients across
            various industries, helping them bring digital ideas to life. I also create content to
            share insights, document my journey, and provide value to the tech and business
            community. Recently, I’ve been diving into no-code and low-code automation platforms
            like Make and n8n to extend my capabilities even further. My next goal is to launch a
            SaaS product and embrace the digital nomad lifestyle.
        </p>
    </div>
</section>

<section id="skills">
    <h1 class="skills-h1">Skills</h1>
    <div class="skills-grid">
        <div
            class="skill-card"
            data-aos="flip-left"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="2000"
        >
            <h2>Programming Languages</h2>
            <ul>
                <li>
                    <img
                        loading="lazy"
                        src="{% static 'portfolio/images/Python.svg' %}"
                        alt="Python.svg"
                    />
                    Python
                </li>
                <li>
                    <img
                        loading="lazy"
                        src="{% static 'portfolio/images/javascript.svg' %}"
                        alt="javascript.svg"
                    />
                    Javascript
                </li>
            </ul>
        </div>
        <div
            class="skill-card"
            data-aos="flip-left"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="2000"
        >
            <h2>Web Technologies</h2>
            <ul>
                <li>
                    <img
                        loading="lazy"
                        src="{% static 'portfolio/images/html.svg' %}"
                        alt="html.svg"
                        style="margin-right: 5px"
                    />
                    HTML
                    <img
                        loading="lazy"
                        src="{% static 'portfolio/images/css.svg' %}"
                        alt="css.svg"
                        style="margin: 0 5px 0 10px"
                    />
                    CSS
                </li>
                <li>
                    <img
                        loading="lazy"
                        src="{% static 'portfolio/images/django.svg' %}"
                        alt="django.svg"
                    />
                    Django
                </li>
                <li>
                    <img
                        loading="lazy"
                        src="{% static 'portfolio/images/react.svg' %}"
                        alt="react.svg"
                    />
                    React-js
                </li>
                <li>
                    <img
                        loading="lazy"
                        src="{% static 'portfolio/images/flask.svg' %}"
                        alt="flask.svg"
                    />
                    Flask
                </li>
                <li>
                    <img
                        loading="lazy"
                        src="{% static 'portfolio/images/fastapi.svg' %}"
                        alt="fastapi.svg"
                    />
                    FastAPI
                </li>
                <li>
                    <img
                        loading="lazy"
                        src="{% static 'portfolio/images/bootstrap.svg' %}"
                        alt="bootstrap.svg"
                    />
                    Bootstrap
                </li>
                <li>
                    <img
                        loading="lazy"
                        src="{% static 'portfolio/images/nginx.svg' %}"
                        alt="nginx.svg"
                    />
                    Nginx
                </li>
                <li>
                    <img
                        loading="lazy"
                        src="{% static 'portfolio/images/sass_svg.svg' %}"
                        alt="sass.svg"
                    />
                    Scss
                </li>
            </ul>
        </div>
        <div
            class="skill-card"
            data-aos="flip-left"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="2000"
        >
            <h2>Databases</h2>
            <ul>
                <li>
                    <img loading="lazy" src="{% static 'portfolio/images/mysql.svg' %}" alt="" />
                    mySQL
                </li>
                <li>
                    <img
                        loading="lazy"
                        src="{% static 'portfolio/images/postgresql.svg' %}"
                        alt=""
                    />
                    PostgreSQL
                </li>
                <li>
                    <img loading="lazy" src="{% static 'portfolio/images/sqlite.svg' %}" alt="" />
                    SQLite
                </li>
                <li>
                    <img loading="lazy" src="{% static 'portfolio/images/mongodb.svg' %}" alt="" />
                    MongoDB
                </li>
                <li>
                    <img loading="lazy" src="{% static 'portfolio/images/redis.svg' %}" alt="" />
                    Redis
                </li>
            </ul>
        </div>
        <div
            class="skill-card"
            data-aos="flip-left"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="2000"
        >
            <h2>Others & Tools</h2>
            <ul>
                <li>
                    <img
                        loading="lazy"
                        src="{% static 'portfolio/images/github_actions.svg' %}"
                        alt="github actions svg"
                    />
                    Github Actions
                </li>
                <li>
                    <img
                        loading="lazy"
                        src="{% static 'portfolio/images/nodejs.svg' %}"
                        alt="nodejs.svg"
                    />
                    NodeJs
                </li>
                <li>
                    <img
                        loading="lazy"
                        src="{% static 'portfolio/images/selenium.svg' %}"
                        alt="selenium.svg"
                    />
                    Selenium Web Driver
                </li>
                <li>
                    <i class="bi bi-code-slash" style="margin: 5px 10px 0 2px"></i>
                    Beautiful Soup 4
                </li>
                <li>
                    <img
                        loading="lazy"
                        src="{% static 'portfolio/images/Docker.svg' %}"
                        alt="sass.svg"
                    />
                    Docker
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- #TODO: Fix project section to look better, Add drf-boilerplate and codify-live-backend projects -->
<section id="projects">
    <h1 class="projects-h1">Projects</h1>
    <div class="timeline">
        <div class="timeline-item" data-aos="fade-up">
            <figure class="timeline-img">
                <img src="{% static 'portfolio/images/autoblue_demo.gif' %}" alt="Autoblue demo" />
                <figcaption>Project demonstration.</figcaption>
            </figure>
            <div class="timeline-content">
                <h2 class="timeline-content-h2">Autoblue</h2>
                <p class="timeline-content-p">
                    <strong>Autoblue</strong>
                    is an open-source Django-based web application designed to automate posts on
                    <a
                        href="https://bsky.app/"
                        target="_blank"
                        style="color: var(--btn-color); text-decoration: none"
                    >
                        Bluesky
                    </a>
                    .The frontend is built entirely with vanilla technologies, while the backend
                    uses Python, PostgreSQL, Nginx, Redis, and Celery for task queuing. The
                    application is containerized with Docker and deployed to a DigitalOcean VPS
                    using GitHub Actions.
                    <!-- <a
                        href="https://autoblue.yassinecodes.dev/"
                        target="_blank"
                        style="color: var(--btn-color); text-decoration: none"
                    >
                        View Live Demo
                    </a> -->
                </p>

                <a href="https://github.com/fulanii/autoblue" class="project-link" target="_blank">
                    View Project Github
                </a>
            </div>
        </div>

        <div class="timeline-item" data-aos="fade-up">
            <figure class="timeline-img">
                <img
                    src="{% static 'portfolio/images/djang-setup-demo.gif' %}"
                    alt="Autoblue demo"
                />
                <figcaption>Project demonstration.</figcaption>
            </figure>
            <div class="timeline-content">
                <h2 class="timeline-content-h2">djang-setup</h2>
                <p class="timeline-content-p">
                    <strong>djang-setup</strong>
                    Is a simple open-source Django cli tool that automates project creation, app
                    setup, settings config, and more!
                </p>

                <a
                    href="https://github.com/fulanii/djang_setup"
                    class="project-link"
                    target="_blank"
                >
                    View Project Github
                </a>
            </div>
        </div>

        <div class="timeline-item" data-aos="fade-up">
            <figure class="timeline-img">
                <img src="{% static 'portfolio/images/mapscrape.gif' %}" alt="Autoblue demo" />
                <figcaption>Project demonstration.</figcaption>
            </figure>
            <div class="timeline-content">
                <h2 class="timeline-content-h2">MapScrape</h2>
                <p class="timeline-content-p">
                    <strong>MapScrape</strong>
                    A Selenium bot built with python, that scrape's publically avaible business data
                    form Google maps.
                </p>

                <a href="https://github.com/fulanii/mapscape" class="project-link" target="_blank">
                    View Project Github
                </a>
            </div>
        </div>

        <div class="timeline-item" data-aos="fade-up">
            <figure class="timeline-img">
                <img
                    src="{% static 'portfolio/images/musiquepeulh.png' %}"
                    alt="MusiquePeulh demo"
                />
                <figcaption>Project demonstration.</figcaption>
            </figure>
            <div class="timeline-content">
                <h2 class="timeline-content-h2">MusiquePeulh</h2>
                <p class="timeline-content-p">
                    <strong>MusiquePeulh</strong>
                    Designed and developed a full-stack music streaming web application celebrating
                    Fulani and African music culture. Implemented a modern, scalable architecture
                    with secure authentication, cloud storage, and a responsive, Spotify-style
                    player. <a
                        href="https://musiquepeulh.com"
                        target="_blank"
                        style="color: var(--btn-color)"
                    >Visit Site</a>
                </p>
                <a
                    href="https://github.com/fulanii/musique-peulh-backend"
                    class="project-link"
                    target="_blank"
                >
                    Learn More
                </a>
            </div>
        </div>
    </div>
</section>

<section id="contact-me">
    <div class="cta-container">
        <h1 class="cta-h1">How can I help you?</h1>

        <!-- Dropdown Selection -->
        <select id="cta-options" class="cta-dropdown">
            <option value="" disabled selected>Select an option</option>
            <option value="question">I have a quick question</option>
            <option value="recruiter">I'm a recruiter</option>
            <!-- <option value="services">I'm interested in your services</option> -->
        </select>

        <!-- Forms (Initially Hidden) -->
        <div id="form-question" class="cta-form hidden">
            <form class="form q-form" action="/contactforms/" method="POST">
                {% csrf_token %}

                <label for="email">Your Email</label>
                <input
                    type="email"
                    id="email"
                    name="email"
                    placeholder="Enter your email"
                    required
                />

                <label for="question">Your Question</label>
                <textarea
                    id="question"
                    name="question"
                    placeholder="Type your question here..."
                    required
                ></textarea>

                <div
                    class="g-recaptcha"
                    data-sitekey="6LfqyXUrAAAAAA4BTjxl-x44MxA18TbSmpnuZoJV"
                ></div>

                <button type="submit">Submit</button>
            </form>
        </div>

        <div id="form-recruiter" class="cta-form hidden">
            <form class="form" action="/contactforms/" method="POST">
                {% csrf_token %}
                <label>Name</label>
                <input type="text" placeholder="Your name" required name="name" />
                <label>Email</label>
                <input type="email" placeholder="Your email" required name="email" />
                <label>Company</label>
                <input type="text" placeholder="Your company" required name="company" />
                <label>Role</label>
                <input type="text" placeholder="Role you're hiring for?" required name="role" />
                <p class="cta-resume"><a href="/download_resume">Download my resume</a></p>

                <div
                    class="g-recaptcha"
                    data-sitekey="6LfqyXUrAAAAAA4BTjxl-x44MxA18TbSmpnuZoJV"
                ></div>

                <button type="submit">Submit</button>
            </form>
        </div>

        <!-- 
        <div id="form-services" class="cta-form hidden"> 
            <form class="form" action="/contactforms/" method="POST">
                {% csrf_token %}
                <label for="services">Which service are you interested in?</label>
                <select name="services" class="services-select">
                    <option value="" disabled selected>Select an option</option>
                    <option value="web-dev">Web development</option>
                    <option value="web-scraping">Web scraping</option>
                    <option value="rest-api">REST API development</option>
                </select>

                <label>Name</label>
                <input type="text" placeholder="Your name" required name="name" />

                <label>Email</label>
                <input type="email" placeholder="Your email" required name="email" />

                <label>Budget</label>
                <input
                    type="number"
                    inputmode="numeric"
                    pattern="[0-9]*"
                    placeholder="Your budget $"
                    name="budget"
                />

                <label>When you need this</label>
                <input
                    type="date"
                    placeholder="In how long you need this done?"
                    style="min-width: 100%"
                    required
                    name="due-date"
                />

                <label>Describe Your Needs</label>
                <textarea
                    placeholder="What kind of data are you looking to scrape?"
                    required
                    name="project-description"
                ></textarea>
                
                <div class="g-recaptcha" data-sitekey="6LfqyXUrAAAAAA4BTjxl-x44MxA18TbSmpnuZoJV"></div>
                
                <button type="submit">Submit</button>
            </form>
        </div>
        -->
    </div>
</section>

{% endblock %} {% block home_page_script %}
<script defer src="https://kit.fontawesome.com/04840efe8b.js" crossorigin="anonymous"></script>
<script defer src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
<script defer src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<script defer type="module" src="{% static 'portfolio/javascript/script.js' %}"></script>
<script defer type="module" src="{% static 'portfolio/javascript/utils/typewriter.js' %}"></script>
<script defer type="module" src="{% static 'portfolio/javascript/components/navbar.js' %}"></script>
<script
    defer
    type="module"
    src="{% static 'portfolio/javascript/utils/smoothScroll.js' %}"
></script>
<script
    defer
    type="module"
    src="{% static 'portfolio/javascript/components/contact.js' %}"
></script>
{% endblock %}
