# .gitignore
__pycache__/
*.pyc
*.pyo
*.db
*.sqlite3
*.log
*.pot
*.mo
*.swp
*~
.DS_Store
*.env
*.venv/
.env
/staticfiles/
media/
venv/
.idea/
.vscode/
node_modules/
*.code-workspace
.coverage
.ipynb_checkpoints
*.egg
*.egg-info/
dist/
build/
*.sublime-project
*.sublime-workspace
error.log
db.json
nginx-config.txt