.back-btn {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    margin-top: 25px;
}
.main-blog {
    display: flex;
    justify-content: center;
    padding: 0 15px;
}
.blog-container {
    max-width: 728px;
    width: 100%;
}
#article {
    margin-top: 25px;
}
.blog-title {
    font-size: 3rem;
    margin: 0;
}
.blog-date {
    margin-top: 25px;
    margin-bottom: 25px;
}

/* global css */
a {
    text-decoration: none;
}
body {
    font-family: "Roboto", sans-serif; /* or any chosen font */
    font-size: 16px; /* Base font size */
    line-height: 1.5; /* Good readability */
    /* color: #333;  */
    display: flex;
    flex-direction: column;
    height: 100vh;
}

img {
    max-width: 100%;
    height: auto; /* This ensures the height scales with the width */
    display: block; /* Prevents whitespace below the image */
    object-fit: contain; /* Ensures the image retains its aspect ratio */
}
pre {
    border: solid;
    border-radius: 10px;
    color: black;
    background-color: #eeeef0;
    padding: 10px;
    overflow: scroll;
}

/* footer */
#footer {
    border-top: 1px solid #ff0a0a;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Teko";
    padding: 30px;
    margin-top: auto;
}
.footer__h1 {
    font-size: 20px;
    margin: 0;
}

.footer__link {
    font-size: 18px;
    color: #0563bb;
    transition: color 0.3s;
    display: flex;
}

.footer__h1,
.footer__link {
    width: 100%;
    max-width: 300px;
}

.footer__link:hover {
    text-decoration: underline;
}

/* Media queries for responsiveness */
@media (max-width: 360px) {
    #footer {
        padding: 30px 0;
    }
}

@media (max-width: 1024px) {
    .blog-title {
        font-size: 2.5rem;
    }

    h1 {
        font-size: 2.25rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.75rem;
    }
}

@media (max-width: 768px) {
    .blog-title {
        font-size: 2rem;
    }
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    h3 {
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {
    .blog-title {
        font-size: 1.75rem;
    }
    h1 {
        font-size: 1.75rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.25rem;
    }
}
