#contact-me {
    margin: 0 0 0 250px;
    margin-bottom: 100px;
    font-family: "Open Sans", sans-serif;
}
.cta-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
}
.cta-h1{
    font-size: 35px;
}
.cta-form {
    display: none;
    transition: opacity 0.3s ease;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
}
.form {
    width: 80%;
    max-width: 100%;
}
.cta-form.hidden {
    display: none;
    opacity: 0;
}
.hidden {
    display: none;
}
.cta-dropdown {
    width: 90%;
    max-width: 100%;
}
.cta-form label {
    display: block;
    margin: 20px 0 10px;
    font-weight: 600;
}
.cta-form input[type="text"],
.cta-form input[type="email"],
.cta-form input[type="number"],
.cta-form input[type="date"],
.cta-form textarea {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px; /* this fixed horzirontal scroll for input fields */
    resize: vertical;

    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
}
.cta-form input:focus,
.cta-form textarea:focus {
    outline: none;
    overflow: hidden;
    max-width: 100%;
}
.services-select {
    width: 100%;
    max-width: 100%;
}
select {
    padding: 10px;
    font-size: 20px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    background-image: url("/static/portfolio/images/dropdown.svg");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 30px;
}

.cta-form button {
    /* 
    padding: 10px 10px;
    background-color: #007bff;
    color: black;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease; */

    cursor: pointer;
    margin-top: 10px;
    background: var(--btn-color);
    color: var(--black-text-color);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
}

.cta-form button:hover {
    background-color: #0056b3;
}

.cta-resume {
    margin: 10px 0 10px 0;
    color: var(--btn-color);
}
.cta-resume a {
    color: var(--btn-color);
    text-decoration: underline;
}

/* Media query */
@media (max-width: 775px) {
    #contact-me {
        margin: 0 0 100px 0;
    }
}
