/* global style */

/* main */
#hire {
    margin-left: 250px;
    background-color: white;
    font-family: "Open Sans", sans-serif;
    /* height: 100vh; */
}

/* ---------------------- */

/* Services section */
/* Services section */
#services-section {
    margin-bottom: 50px;
}
.cover {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, hsla(270, 94%, 25%, 1) 0%, hsla(158, 94%, 49%, 1) 100%);
    height: 400px;
    max-height: 400px;
}
.line-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.line {
    height: 60px;
    width: 1px;
    background: black;
}
.line-text {
    font-weight: 300;
    letter-spacing: 3px;
    color: #001d38;
    text-transform: uppercase;
    padding-top: 14px;
}
.section_title {
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 3px;
    color: #001d38;
    text-transform: uppercase;
}
.services {
    width: 100%;
    display: flex;
    text-align: center;
}
.service-card {
    margin: 50px;
    height: fit-content;
}
.service-image {
    height: 100px;
    width: 100px;
}
.service-title {
    min-height: 50px;
    font-size: 15px;
    font-weight: 600;
    color: #001d38;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.service-description {
    color: #727272;
    font-size: 16px;
    font-weight: 200;
    line-height: 30px;
    min-height: 150px;
}
.service-button {
    margin-top: 25px;
    color: black;
    width: 100%;
    padding: 10px;
    background-color: var(--btn-color);
    cursor: pointer;
}
/* .service-card:hover {
    border: solid;
    margin: 25px;
    padding: 25px;
} */
/* Services ^^^ section */
/* Services ^^^ section */

/* ---------------------- */

/* Modals */
/* Basic modal styling */
/* Basic Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: scroll;
}

.modal-content {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    max-width: 600px;
    position: relative;
    animation: fadeIn 0.4s ease;
    margin: auto;
    top: 10px;
    height: fit-content;
}

/* Title */
.modal-title {
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 3px;
    color: #001d38;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
}

/* Description Paragraph */
.modal-description {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
    margin-bottom: 20px;
    transition: all 0.3s ease;
}
.modal-description-ul {
    margin: 0 0 20px 40px;
}
.modal-description-li {
    list-style: circle;
}
/* Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 24px;
    color: #aaa;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close:hover {
    color: #333;
}

/* Call to Action Button */
.modal-cta {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0073e6;
    color: black;
    text-decoration: none;
    border-radius: 4px;
    font-weight: 600;
    transition: background-color 0.3s ease;
    width: 100%;
    text-align: center;
}

.modal-cta:hover {
    background-color: #005bb5;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Modals ^^^ Modals*/
/* Modals ^^^ Modals*/

/* ---------------------- */
.how-it-works {
    text-align: center;
    margin-bottom: 50px;
}

.how-it-works h2 {
    font-weight: 300;
    letter-spacing: 3px;
    color: #001d38;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.hire-timeline {
    position: relative;
}

.hire-timeline:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 4px;
    height: 100%;
    background-color: var(--btn-color);
    transform: translateX(-50%);
}

.hire-timeline-item {
    position: relative;
    width: 50%;
    padding: 20px;
}

.hire-timeline-item:nth-child(odd) {
    left: 0;
    text-align: right;
    padding-right: 30px;
}

.hire-timeline-item:nth-child(even) {
    left: 50%;
    text-align: left;
    padding-left: 30px;
}

.hire-timeline-item h3 {
    color: var(--btn-color);
    font-size: 1.2rem;
    margin-bottom: 5px;
}
.hire-timeline-item h3 a {
    color: var(--btn-color);
    text-decoration: underline;
}

.hire-timeline-item p {
    color: #555;
}

.hire-timeline-item:before {
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--btn-color);
    border-radius: 50%;
    position: absolute;
    top: 20px;
    transform: translateX(-50%);
}

.hire-timeline-item:nth-child(odd):before {
    right: -11px;
}

.hire-timeline-item:nth-child(even):before {
    left: 1px;
}

/* ---------------------- */
/* Banner */
/* Banner */

.hire-cta-banner-image {
    background-size: cover;
    background-position: center;
    position: relative;
    color: black;
    text-align: center;
    padding: 80px 20px;
}
.hire-cta-overlay {
    background: linear-gradient(90deg, hsla(270, 94%, 25%, 1) 0%, hsla(158, 94%, 49%, 1) 100%);
    padding: 50px 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.hire-cta-title {
    font-size: 1.9rem;
    margin-bottom: 10px;
}
.hire-cta-text {
    font-size: 1.2rem;
    margin-bottom: 20px;
}
.hire-cta-button {
    background-color: #007bff;
    color: black;
    padding: 12px 24px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s;
}
.hire-cta-button:hover {
    background-color: #0056b3;
}
@keyframes pulse {
    0% {
        transform: scale(0.9);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.9);
    }
}
.pulse-animation {
    animation: pulse 1.5s ease-in-out infinite;
}
.hire-cta-overlay {
    overflow: hidden;
}
/* ---------------------- */

/* Media queries */
/* Media queries */
@media (max-width: 1700px) {
    .service-card {
        margin: 10px;
    }
}
@media (max-width: 1287px) {
    .services {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .service-card-3 {
        grid-column: 1 / -1;
        justify-self: center;
        width: 500px;
    }
    .service-card-3 p {
        min-height: 0;
    }
}
@media (min-width: 1426px) {
    .service-description {
        min-height: 120px;
    }
}
@media (max-width: 996px) {
    .services {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .service-title {
        min-height: 0;
    }
    .service-card {
        width: 80%;
    }
    .service-description {
        min-height: 0;
        margin-top: 25px;
    }
}
@media (max-width: 485px) {
    .section_title {
        font-size: 40px;
    }
}
@media (max-width: 400px) {
    .section_title {
        font-size: 30px;
    }
}
@media (max-width: 310px) {
    .section_title {
        font-size: 20px;
    }
}
@media (max-width: 775px) {
    #hire {
        margin-left: 0;
        justify-content: center;
    }
}
@media (max-width: 768px) {
    .modal-content {
        width: 90%;
        margin: 20px auto;
    }
}
/* Media ^^^ queries */
/* Media ^^^ queries */
