:root {
    --white-bg-color: #fff;
    --black-text-color: #000000;
    --white-text-color: #fff;
    --btn-color: #0563bb;
    --nav-icon-color: #ff0a0a; /* c40c0c; */
    --my-red-color: #ff0a0a; /* c40c0c; */
    --under-line-thickness: 8px;
}

html {
    font-size: 100%; /* This sets the font size to the default browser setting, usually 16px */
}
body {
    font-size: 1rem; /* This will be 16px */
    font-family: "Teko"; /* Roboto Condensed, Zain, Rubik, Open Sans, Teko*/
    color: var(--black-text-color);
    background-color: var(--white-bg-color);
}
a {
    text-decoration: none;
    color: var(--black-text-color);
}
li {
    list-style: none;
}